* {
    box-sizing: border-box;
    font-family: 'Libre Franklin', sans-serif;
}

header {
    display: flex;
    border-bottom: 1px solid black;
    color: black;
    align-items: center;
    justify-content: center;
    letter-spacing: 5px;
    margin-bottom: 10px;
    height: 60px;
}

main {
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
}

h2 {
    align-self: center;
    font-size: 1.1em;
}

button {
    align-self: center;
    background-color: #E8E8E8;
    color: black;
    padding: 16px;
    box-shadow: none;
    border-radius: 6px;
    border: none;
}

.home {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.overlay {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    width: 100vw;
    height: 100vh;
    background-color: white;
}

.hidden {
    visibility: hidden;
}

.game-space {
    padding: 5px;
    text-transform: uppercase;
    font-size: 16px;
}

.word-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    border-radius: 5px;
    padding: 10px;
    gap: 10px;
    justify-items: center;
    align-items: center;
}

.stronk {
    font-weight: 700;
}

.word-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em .5em 2em .5em;
    background-color: #E8E8E8;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    font-weight: 700;
    font-size: 10px;
    min-height: 75px;
}

.emojigrid {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.emojigrid p {
    margin: 0 2px 0 0;
}

.selected {
    background-color: dimgray;
    color: white;
}

.solution-box {
    display: flex;
    grid-column-start: 1;
    grid-column-end: 5;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E8E8E8;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    font-size: 10px;
    min-height: 90px;
}

.solution-box p {
    font-size: 10px;
    margin: 0px 0px 2px 0px;
    padding: 0;
}

.guess-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.guess-num {
    display: flex;
}

.guess-dot {
    background-color: dimgray;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    list-style: none;
    margin: 5px;
}


.yellow {
    background-color: #fbd534;
}
.green {
    background-color: #b6e352;
}
.blue {
    background-color: #739eec;
}
.purple {
    background-color: #bc6fc4;
}